<div class="jumbotron mt-5">
    <h1 class="display-3">Pasantia Chat Socket.io</h1>
    <p class="lead">Esto es un proyecto para entrar al f-6</p>
    <hr class="my-2">
    <p>Consiste en hacer un chat usando la biblioteca socket.io</p>
    <p class="lead" style="text-align: center;">
        <a class="btn btn-outline-primary btn-lg" href="/about" role="button">Carlos Guerra</a>
    </p>
</div>