<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                Iniciar Sesión
            </div>
            <div class="card-body">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="usuario" placeholder="Usuario" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Entrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>